<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img alt="Rose Bud" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a routerLink="/" fragment="top" class="active">Home</a>
            </li>
            <li class="scroll-to-section">
              <a href="#services">Services</a>
            </li>
            <li class="scroll-to-section">
              <a routerLink="/counselling">Counseling</a>
            </li>
            <li class="has-sub">
              <a href="javascript:void(0)">About Us</a>
              <ul class="sub-menu">
                <li><a href="#services">About Us</a></li>
                <li><a href="#contact-section">Contact Us</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
              </ul>
            </li>
            <li class="scroll-to-section">
              <a routerLink="/tracking">Tracking</a>
            </li>
            <li class="scroll-to-section">
              <a routerLink="/report">Report</a>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
