<section class="contact-us" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-rss"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-12">
        <p class="copyright">
          Leverage of technology, community-driven approaches, and data-driven solutions to
          effectively eliminate the practice of female genital mutilation/cutting (FGM/C) worldwide,
          support survivors and at-risk individuals, and promote gender equality.

          <br />Contact Us:
          <a rel="sponsored" href="https://templatemo.com" target="_blank"
            ></a
          >
        </p>
      </div>
    </div>
  </div>
</section>
