<h1>Counselling</h1>
<h2 style="text-align: center">Available Counsellors</h2>
<ul class="cards">
    <li>
      <a href="" class="card">
        <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Firstname Lastname</h3>
              <span class="card__status">3 hours ago</span>
            </div>          
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>
  
    <li *ngFor="let counsellor of counsellors" >
      <div href="" class="card">
        <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="{{counsellor.avatar}}" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">{{counsellor.name}}</h3>
              <span class="card__tagline">{{counsellor.location}}</span>            
              <span class="card__status">Phone: {{counsellor.phone}}</span>
              <br><span class="card__status">E-mail: {{counsellor.email}}</span>
              <br><span class="card__status">Rating: {{counsellor.rating}}</span>
            </div>
          </div>
          <p class="card__description">{{counsellor.desc}}</p>
          <button class="btn" onclick="alert('Session Booked')">Book Session</button>
        </div>
      </div>
    </li>
  </ul>
  <h1>Frequenly Asked Questions (FAQ)</h1>
  <main>
  <details open>
    <summary>What are the health consequences of FGM?</summary>
    <div class="faq__content">
      <p>FGM can cause short-term and long-term health consequences, including severe pain, bleeding, infection, difficulty urinating, complications during childbirth, sexual dysfunction, and psychological trauma.</p>
    </div>
  </details>

    <details>
    <summary>Is FGM legal?</summary>
    <div class="faq__content">
      <p>FGM is illegal in many countries, including the United States, Canada, and the United Kingdom. However, it is still practiced in many communities around the world, often in secret.</p>
    </div>
  </details>
  <details>
    <summary>How can I get help if I have experienced FGM?</summary>
    <div class="faq__content">
      <p>There are many organizations that can provide support and assistance to victims of FGM. You can contact your local women's rights organization, a healthcare provider, or a legal aid organization to seek help.</p>
    </div>
  </details>
  <details>
    <summary>Can FGM be reversed?</summary>
    <div class="faq__content">
      <p>While there is no way to completely reverse the physical effects of FGM, there are some surgical procedures that can help restore some of the damage done. However, these procedures can be risky and may not always be effective.
      </p>
    </div>
  </details>
  <details>
    <summary>What can be done to prevent FGM from happening to other girls?</summary>
    <div class="faq__content">
      <p>Education is key to preventing FGM. Educating families and communities about the harmful effects of FGM and promoting alternative coming-of-age rituals can help bring an end to the practice. Additionally, governments can enforce laws against FGM and work to raise awareness about the issue.</p>
    </div>
  </details>
   </main>
