<ul class="cards">
    <li>
      <a href="" class="card">
        <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Firstname Lastname</h3>
              <span class="card__status">3 hours ago</span>
            </div>          
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>
  
    <li *ngFor="let counsellor of counsellors" >
      <div href="" class="card">
        <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="{{counsellor.avatar}}" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">{{counsellor.name}}</h3>
              <span class="card__tagline">{{counsellor.location}}</span>            
              <span class="card__status">Phone: {{counsellor.phone}}</span>
              <br><span class="card__status">E-mail: {{counsellor.email}}</span>
              <br><span class="card__status">Rating: {{counsellor.rating}}</span>
            </div>
          </div>
          <p class="card__description">{{counsellor.desc}}</p>
          <button class="btn" onclick="alert('Session Booked')">Book Session</button>
        </div>
      </div>
    </li>
  </ul>
