* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
}
  
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}
  
.card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
}
  
.card__image {      
    width: 100%;
    height: auto;
}
  
.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: 40px;    
    background-color: #ffff;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
}
  
.card:hover .card__overlay {
    transform: translateY(0);
}
  
.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 40px 0 0 0;    
    background-color: #ffff;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}
  
.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
}
  
.card__arc path {
    fill: #ffff;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       
  
.card:hover .card__header {
    transform: translateY(0);
}
  
.card__thumb {
    flex-shrink: 0;
    width: 100px;
    height: 100px;      
    border-radius: 50%;      
}
  
.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #000000;
}
  
.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .8em; 
    color: #000000;  
}
  
.card__status {
    font-size: .8em;
    color: #000000;
}
  
.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #000000;
    font-family: 'Noto Sans JP', sans-serif; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
         
.btn {
    background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 40px;
    display: block;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
 
h1 {
    font-size: clamp(20px, 4vw, 30px);
    line-height: 1.2;
    margin-bottom: 40px;
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
  }
  main {
    max-width: 520px;
    margin: 0 auto;
  }
  summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fafafa;
    background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
    color: #000000;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  p { text-align: left; }
  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  
/*************************************************************************************************/