<!-- ***** Main Banner Area Start ***** -->
<section class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="header-text">
          <h6>RoseBud</h6>
          <h2>
            Together We Can Stop FGM/C: Let's <em>Speak Up</em> and Take
            <em>Action!</em>
          </h2>
          <div class="main-button-gradient">
            <div class="scroll-to-section">
              <a href="#contact-section">Join Us Now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image">
          <img src="assets/images/app-logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>WHO ARE WE</h6>
          <h4>About <em>Us</em></h4>
        </div>
      </div>
      <div class="col-lg-12 container text-center">
        <div class="owl-service-item row">
          <div class="item">
            <div class="service-item">
              <div class="icon col">
                <img src="assets/images/landing/icon1.png" alt="" />
              </div>
              <h4>Our Team</h4>
              <p>
                Triptanjana Sarangi, Rajdeep Ghosh, Sayak Ghosh, Rajdeep
                Chatterjee
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/landing/icon2.png" alt="" />
              </div>
              <h4>Our Aim</h4>
              <p>
                Our aim is to raise awareness about the harms of FGM/C and
                encourage reporting of incidents to empower girls and women,
                promote their health and well-being, and ultimately end the
                practice within our community.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/landing/icon3.png" alt="" />
              </div>
              <h4>Our Success</h4>
              <p>
                Success in our FGM/C project should be measured by a significant
                increase in community knowledge and understanding about the
                harms of FGM/C, increased reporting of incidents, and ultimately
                a decrease in the prevalence of the practice within our
                community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h6>What we provide</h6>
          <h4>Our <em>Services</em></h4>
          <p>
            A comprehensive platform for survivors and allies, offering
            counseling, reporting, forum, and tracking services.
          </p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="naccs">
          <div class="tabs">
            <div class="row">
              <div class="col-lg-3">
                <div class="menu">
                  <div class="active gradient-border">
                    <span>Reporting</span>
                  </div>
                  <div class="gradient-border">
                    <span>Forum</span>
                  </div>
                  <div class="gradient-border"><span>Counseling</span></div>
                  <div class="gradient-border"><span>Tracking</span></div>
                </div>
              </div>
              <div class="col-lg-9">
                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/reporting.png" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Reporting</h4>
                        <p>
                          Our FGM/C project helps in reporting by providing safe
                          and confidential channels for community members to
                          report incidents of the practice, and by empowering
                          girls and women with the knowledge and resources to
                          speak out against FGM/C and seek support from relevant
                          authorities.
                        </p>
                        <span class="last-span">1500 Reports</span>
                        <div class="text-button">
                          <a href="contact-us.html">Report Something</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/forum.png" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Forum</h4>
                        <p>
                          A forum can help by providing a safe space for
                          community members to engage in open and honest
                          discussions about FGM/C, share personal experiences
                          and knowledge, and collaborate on strategies to
                          prevent and respond to incidents of the practice. A
                          forum can also help to build solidarity and promote
                          community-driven solutions that prioritize the health
                          and well-being of girls and women.
                        </p>

                        <span class="last-span">3000 members</span>
                        <div class="text-button">
                          <a href="contact-us.html">Join The Forum!</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/counselor.jpg" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Counseling</h4>
                        <p>
                          We help in counseling by providing access to trained
                          professionals who can offer psychological and
                          emotional support to survivors and their families, and
                          by promoting community-based approaches that
                          prioritize the health and well-being of girls and
                          women affected by FGM/C.
                        </p>
                        <span class="last-span">120 Counselors</span>
                        <div class="text-button">
                          <a href="contact-us.html">Book a counselor</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/tracking.jpg" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Tracking</h4>
                        <p>
                          Tracking cases of FGM/C through our web application is
                          crucial for several reasons. It allows us to monitor
                          the prevalence of the practice in different regions
                          and communities, which can inform targeted awareness
                          campaigns and prevention efforts. It also provides
                          survivors with a safe and confidential platform to
                          report their experiences and seek support from trained
                          counselors.
                        </p>

                        <span class="last-span">150 Active cases</span>
                        <div class="text-button">
                          <a href="contact-us.html">Track your report</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simple-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <div class="left-image">
          <img src="assets/images/landing/women-fgm.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-5 align-self-center">
        <h6>Call To Action</h6>
        <h4>Join the Movement Today!</h4>
        <p>
          We must take action to end the harmful practice of FGM/C. This
          includes educating ourselves and others about the physical and
          psychological harms of the practice, promoting alternative cultural
          practices that value the rights and autonomy of girls and women, and
          reporting incidents to empower survivors and prevent future
          occurrences.
        </p>
        <div class="white-button">
          <a href="index.html">Call to Action</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>Testimonials</h6>
          <h4>What They <em>Think</em></h4>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-testimonials" style="position: relative; z-index: 5">
          <div class="item">
            <p>
              “I really enjoyed using this web app to connect with others who are working to end FGM/C. The forum section was a great place to collaborate on strategies and share resources. Thank you for creating such an important and valuable resource for the community!”
            </p>
            <h4>Amina Ali</h4>
            <span>Human Rights Activist</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “This web app is a great resource for anyone looking to learn more about FGM/C. The user-friendly interface and interactive features make it easy to navigate and engage with the information on the topic.”
            </p>
            <h4>Sarah Goodman</h4>
            <span>Marketing Manager</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “I appreciate the emphasis on community-driven solutions and the focus on empowering survivors through the counseling and reporting sections of the web app. It's clear that the creators of this app are committed to making a real difference in the fight against FGM/C.”
            </p>
            <h4>Ahmed Khan</h4>
            <span>Social Worker</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “The counseling section of this web app was really helpful for me. It provided me with a safe and confidential space to talk about my experiences and connect with professionals who understood what I was going through. I'm grateful for this resource.”
            </p>
            <h4>Fatima Nguyen</h4>
            <span>Student Counselor</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “I didn't know much about FGM/C before using this web app, but now I feel like I have a much better understanding of the issue and how to address it in my own community. The forum section was particularly helpful in connecting me with others who are passionate about ending this harmful practice.”
            </p>
            <h4>Michael Brown</h4>
            <span>Software Developer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="report" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="map">
          <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.0194185235555!2d88.47358131541841!3d22.57837703844761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02753269586b03%3A0xfbb4d0c346a81109!2sTechno%20International%20New%20Town!5e0!3m2!1sen!2sin!4v1679941474672!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <div class="row">
            <div class="col-lg-4 offset-lg-1">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Phone</h4>
                <span>010-020-0340</span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Mobile</h4>
                <span>090-080-0760</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>Contact us</h6>
                <h4>Say <em>Hello</em></h4>
                <p>
                  If you need to contact us for help, feel free to fill this
                  form!
                </p>
              </div>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input
                  type="name"
                  name="name"
                  id="name"
                  placeholder="Full Name"
                  autocomplete="on"
                  required
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input
                  type="text"
                  name="email"
                  id="email"
                  pattern="[^ @]*@[^ @]*"
                  placeholder="Your Email"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea
                  name="message"
                  id="message"
                  placeholder="Your Message"
                ></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button
                  type="submit"
                  id="form-submit"
                  class="main-gradient-button"
                >
                  Send Message
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
