<section class="testimonials" id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-heading">
					<h6>Forum</h6>
					<h4>Submitted <em>Posts</em></h4>
					<button id="react-like" (click)="newPost()">Add Post</button>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="owl-testimonials" style="position: relative; z-index: 5">
					<div class="item" *ngFor="let post of posts">
						<h2 style="color: rgb(108, 102, 102)">
							{{ post.title }}
						</h2>
						<h4>{{ post.author }}</h4>
						<span>{{ post.date }}</span>
						<p>&#9;</p>
						<h6>👍🏻 {{ post.likesCount }} 👎🏻 {{ post.dislikesCount }}</h6>
						<a [routerLink]="['/post', post.id]"
							><img src="assets/images/quote.png" alt=""
						/></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
