<section class="main-banner" id="top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-center">
				<h2 class="header-text">Discussion Forum</h2>
			</div>
			<div class="col md-6 text-right">
				<button type="button" class="btn btn-outline-success">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Questions
				</button>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-auto">
				<div class="card" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title">Rumble Talks</h5>
						<p class="card-text">Why is Rumble Gay?</p>
						<span class="badge badge-success">Mushroom Chat</span>
						<hr />
						<button type="button" class="btn btn-outline-primary">
							<i class="fa fa-edit" aria-hidden="true"></i>Edit</button
						>&nbsp;<button type="button" class="btn btn-outline-danger">
							<i class="fa fa-trash" aria-hidden="true"></i>Delete
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-auto">
				<div class="card" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title">Mushroom Talks</h5>
						<p class="card-text">What breed of mushroom is Chat?</p>
						<span class="badge badge-success">Gay Rumble</span>
						<hr />
						<button type="button" class="btn btn-outline-primary">
							<i class="fa fa-edit" aria-hidden="true"></i>Edit</button
						>&nbsp;<button type="button" class="btn btn-outline-danger">
							<i class="fa fa-trash" aria-hidden="true"></i>Delete
						</button>
					</div>
				</div>
			</div>

			<div class="col-md-auto">
				<div class="card" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title">Trippy Talks</h5>
						<p class="card-text">Why is Trippy Dum?</p>
						<span class="badge badge-success">Chad Sayak</span>
						<hr />
						<button type="button" class="btn btn-outline-primary">
							<i class="fa fa-edit" aria-hidden="true"></i>Edit</button
						>&nbsp;<button type="button" class="btn btn-outline-danger">
							<i class="fa fa-trash" aria-hidden="true"></i>Delete
						</button>
					</div>
				</div>
			</div>

			<div class="col-md-auto">
				<div class="card" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title">Gawd Talks</h5>
						<p class="card-text">How can I be like Chad sayak?</p>
						<span class="badge badge-success">Gay Rumble</span>
						<hr />
						<button type="button" class="btn btn-outline-primary">
							<i class="fa fa-edit" aria-hidden="true"></i>Edit</button
						>&nbsp;<button type="button" class="btn btn-outline-danger">
							<i class="fa fa-trash" aria-hidden="true"></i>Delete
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
