<section class="page-heading">
  <div class="container">
    <div class="header-text">
      <h4>Get Assistance</h4>
      <h1>Available Counsellors</h1>
    </div>
  </div>
</section>
<section class="page-heading">
  <ul class="cards">
    <li *ngFor="let report of reports">
      <div href="" class="card">
        <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <img
              class="card__thumb"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6h3O-7VlFrE8Om3Wl072rKhG4IJfY792YNyOoAT2wYpXoVRhHnJbIwpP9p80zIZGznHY&usqp=CAU"
              alt="#"
            />
            <div class="card__header-text">
              <h3 class="card__title">{{ report.name }}</h3>
              <span class="card__tagline">{{ report.location }}</span>
              <span class="card__status">Phone: {{ report.phone }}</span>
              <br /><span class="card__status">E-mail: {{ report.email }}</span>
              <br />
            </div>
          </div>
          <p class="card__description">{{ report.desc }}</p>
          <button class="btn" onclick="alert('Report accepted')">Accept</button>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/video.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/custom.js"></script>
<script>
  //according to loftblog tut
  $(".nav li:first").addClass("active");

  var showSection = function showSection(section, isAnimate) {
    var direction = section.replace(/#/, ""),
      reqSection = $(".section").filter('[data-section="' + direction + '"]'),
      reqSectionPos = reqSection.offset().top - 0;

    if (isAnimate) {
      $("body, html").animate(
        {
          scrollTop: reqSectionPos,
        },
        800
      );
    } else {
      $("body, html").scrollTop(reqSectionPos);
    }
  };

  var checkSection = function checkSection() {
    $(".section").each(function () {
      var $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
      if (topEdge < wScroll && bottomEdge > wScroll) {
        var currentId = $this.data("section"),
          reqLink = $("a").filter("[href*=\\#" + currentId + "]");
        reqLink
          .closest("li")
          .addClass("active")
          .siblings()
          .removeClass("active");
      }
    });
  };

  $(".main-menu, .responsive-menu, .scroll-to-section").on(
    "click",
    "a",
    function (e) {
      e.preventDefault();
      showSection($(this).attr("href"), true);
    }
  );

  $(window).scroll(function () {
    checkSection();
  });
</script>
