<!-- ***** Main Banner Area Start ***** -->
<section class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="header-text">
          <h6>RoseBud</h6>
          <h2>
            Together We Can Stop FGM/C: Let's <em>Speak Up</em> and Take
            <em>Action!</em>
          </h2>
          <div class="main-button-gradient">
            <div class="scroll-to-section">
              <a href="#contact-section">Join Us Now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image">
          <img src="assets/images/app-logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>Our Services</h6>
          <h4>Provided <em>Services</em></h4>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="" />
              </div>
              <h4>Useful Tricks</h4>
              <p>
                EduWell is the professional HTML5 template for your school or
                university websites.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="" />
              </div>
              <h4>Creative Ideas</h4>
              <p>
                You can download and use this EduWell Template for your teaching
                and learning stuffs.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="" />
              </div>
              <h4>Ready Target</h4>
              <p>
                Please tell your friends about the best CSS template website
                that is TemplateMo.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-04.png" alt="" />
              </div>
              <h4>Technology</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="" />
              </div>
              <h4>Useful Tricks</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="" />
              </div>
              <h4>Creative Ideas</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="" />
              </div>
              <h4>Ready Target</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-04.png" alt="" />
              </div>
              <h4>Technology</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="" />
              </div>
              <h4>Useful Tricks</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="" />
              </div>
              <h4>Creative Ideas</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="" />
              </div>
              <h4>Ready Target</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-04.png" alt="" />
              </div>
              <h4>Technology</h4>
              <p>
                Praesent accumsan condimentum arcu, id porttitor est semper nec.
                Nunc diam lorem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h6>OUR COURSES</h6>
          <h4>What You Can <em>Learn</em></h4>
          <p>
            You just think about TemplateMo whenever you need free CSS templates
            for your business website
          </p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="naccs">
          <div class="tabs">
            <div class="row">
              <div class="col-lg-3">
                <div class="menu">
                  <div class="active gradient-border">
                    <span>Web Development</span>
                  </div>
                  <div class="gradient-border">
                    <span>Graphic Design</span>
                  </div>
                  <div class="gradient-border"><span>Web Design</span></div>
                  <div class="gradient-border"><span>WordPress</span></div>
                </div>
              </div>
              <div class="col-lg-9">
                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="left-image">
                        <img src="assets/images/courses-01.jpg" alt="" />
                        <div class="price"><h6>$128</h6></div>
                      </div>
                      <div class="right-content">
                        <h4>Web Development</h4>
                        <p>
                          Did you know that you can visit
                          <a
                            rel="nofollow"
                            href="https://www.toocss.com/"
                            target="_blank"
                            >TooCSS website</a
                          >
                          for latest listing of HTML templates and a variety of
                          useful templates. <br /><br />You just need to go and
                          visit that website right now. IF you have any
                          suggestion or comment about this template, you can
                          feel free to go to contact page for our email address.
                        </p>
                        <span>36 Hours</span>
                        <span>4 Weeks</span>
                        <span class="last-span">3 Certificates</span>
                        <div class="text-button">
                          <a href="contact-us.html">Subscribe Course</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/courses-02.jpg" alt="" />
                        <div class="price"><h6>$156</h6></div>
                      </div>
                      <div class="right-content">
                        <h4>Creative Graphic Design</h4>
                        <p>
                          You are not allowed to redistribute this template ZIP
                          file on any other website without a permission from
                          us.<br /><br />There are some unethical people on this
                          world copied and reposted our templates without any
                          permission from us. Their Karma will hit them really
                          hard. Yeah!
                        </p>
                        <span>48 Hours</span>
                        <span>6 Weeks</span>
                        <span class="last-span">1 Certificate</span>
                        <div class="text-button">
                          <a href="contact-us.html">Subscribe Course</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/courses-03.jpg" alt="" />
                        <div class="price"><h6>$184</h6></div>
                      </div>
                      <div class="right-content">
                        <h4>Web Design</h4>
                        <p>
                          Quinoa roof party squid prism sustainable letterpress
                          cray hammock tumeric man bun mixtape tofu subway tile
                          cronut. Deep v ennui subway tile organic seitan.<br /><br />Kogi
                          VHS freegan bicycle rights try-hard green juice
                          probably haven't heard of them cliche la croix af
                          chillwave.
                        </p>
                        <span>28 Hours</span>
                        <span>4 Weeks</span>
                        <span class="last-span">1 Certificate</span>
                        <div class="text-button">
                          <a href="contact-us.html">Subscribe Course</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/courses-04.jpg" alt="" />
                        <div class="price"><h6>$76</h6></div>
                      </div>
                      <div class="right-content">
                        <h4>WordPress Introduction</h4>
                        <p>
                          Quinoa roof party squid prism sustainable letterpress
                          cray hammock tumeric man bun mixtape tofu subway tile
                          cronut. Deep v ennui subway tile organic seitan.<br /><br />Kogi
                          VHS freegan bicycle rights try-hard green juice
                          probably haven't heard of them cliche la croix af
                          chillwave.
                        </p>
                        <span>48 Hours</span>
                        <span>4 Weeks</span>
                        <span class="last-span">2 Certificates</span>
                        <div class="text-button">
                          <a href="contact-us.html">Subscribe Course</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simple-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <div class="left-image">
          <img src="assets/images/cta-left-image.png" alt="" />
        </div>
      </div>
      <div class="col-lg-5 align-self-center">
        <h6>Get the sale right now!</h6>
        <h4>Up to 50% OFF For 1+ courses</h4>
        <p>
          Kogi VHS freegan bicycle rights try-hard green juice probably haven't
          heard of them cliche la croix af chillwave.
        </p>
        <div class="white-button">
          <a href="contact-us.html">View Courses</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>Testimonials</h6>
          <h4>What They <em>Think</em></h4>
        </div>
      </div>
      <div class="col-lg-12">
        <div
          class="owl-testimonials owl-carousel"
          style="position: relative; z-index: 5"
        >
          <div class="item">
            <p>
              “just think about TemplateMo if you need free CSS templates for
              your website”
            </p>
            <h4>Catherine Walk</h4>
            <span>CEO &amp; Founder</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “think about our website first when you need free HTML templates
              for your website”
            </p>
            <h4>David Martin</h4>
            <span>CTO of Tech Company</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “just think about our website wherever you need free templates for
              your website”
            </p>
            <h4>Sophia Whity</h4>
            <span>CEO and Co-Founder</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Helen Shiny</h4>
            <span>Tech Officer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>George Soft</h4>
            <span>Gadget Reviewer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Andrew Hall</h4>
            <span>Marketing Manager</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Maxi Power</h4>
            <span>Fashion Designer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Olivia Too</h4>
            <span>Creative Designer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="report" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="map">
          <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.0194185235555!2d88.47358131541841!3d22.57837703844761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02753269586b03%3A0xfbb4d0c346a81109!2sTechno%20International%20New%20Town!5e0!3m2!1sen!2sin!4v1679941474672!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <div class="row">
            <div class="col-lg-4 offset-lg-1">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Phone</h4>
                <span>010-020-0340</span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Mobile</h4>
                <span>090-080-0760</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>Contact us</h6>
                <h4>Say <em>Hello</em></h4>
                <p>
                  IF you need a working contact form by PHP script, please visit
                  TemplateMo's contact page for more info.
                </p>
              </div>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input
                  type="name"
                  name="name"
                  id="name"
                  placeholder="Full Name"
                  autocomplete="on"
                  required
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input
                  type="text"
                  name="email"
                  id="email"
                  pattern="[^ @]*@[^ @]*"
                  placeholder="Your Email"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea
                  name="message"
                  id="message"
                  placeholder="Your Message"
                ></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button
                  type="submit"
                  id="form-submit"
                  class="main-gradient-button"
                >
                  Send Message
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
