<!-- ***** Main Banner Area Start ***** -->
<section class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="header-text">
          <h6>RoseBud</h6>
          <h2>
            Together We Can Stop FGM/C: Let's <em>Speak Up</em> and Take
            <em>Action!</em>
          </h2>
          <div class="main-button-gradient">
            <div class="scroll-to-section">
              <a href="#contact-section">Join Us Now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image">
          <img src="assets/images/app-logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>Our Services</h6>
          <h4>Provided <em>Services</em></h4>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="" />
              </div>
              <h4>Useful Tricks</h4>
              <p>
                EduWell is the professional HTML5 template for your school or
                university websites.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="" />
              </div>
              <h4>Creative Ideas</h4>
              <p>
                You can download and use this EduWell Template for your teaching
                and learning stuffs.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="" />
              </div>
              <h4>Ready Target</h4>
              <p>
                Please tell your friends about the best CSS template website
                that is TemplateMo.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-04.png" alt="" />
              </div>
              <h4>Technology</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="" />
              </div>
              <h4>Useful Tricks</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="" />
              </div>
              <h4>Creative Ideas</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="" />
              </div>
              <h4>Ready Target</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-04.png" alt="" />
              </div>
              <h4>Technology</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="" />
              </div>
              <h4>Useful Tricks</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="" />
              </div>
              <h4>Creative Ideas</h4>
              <p>
                Aenean bibendum consectetur ex eu porttitor. Pellentesque id
                ultrices metus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="" />
              </div>
              <h4>Ready Target</h4>
              <p>
                In non nisi eget magna efficitur ultricies non quis sapien.
                Pellentesque tellus.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/service-icon-04.png" alt="" />
              </div>
              <h4>Technology</h4>
              <p>
                Praesent accumsan condimentum arcu, id porttitor est semper nec.
                Nunc diam lorem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h6>What we provide</h6>
          <h4>Our <em>Services</em></h4>
          <p>
            A comprehensive platform for survivors and allies, offering counseling, reporting, forum, and tracking services.
          </p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="naccs">
          <div class="tabs">
            <div class="row">
              <div class="col-lg-3">
                <div class="menu">
                  <div class="active gradient-border">
                    <span>Reporting</span>
                  </div>
                  <div class="gradient-border">
                    <span>Forum</span>
                  </div>
                  <div class="gradient-border"><span>Counseling</span></div>
                  <div class="gradient-border"><span>Tracking</span></div>
                </div>
              </div>
              <div class="col-lg-9">
                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/reporting.png" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Reporting</h4>
                        <p>
                          Our FGM/C project helps in reporting by providing safe
                          and confidential channels for community members to
                          report incidents of the practice, and by empowering
                          girls and women with the knowledge and resources to
                          speak out against FGM/C and seek support from relevant
                          authorities.
                        </p>
                        <span class="last-span">1500 Reports</span>
                        <div class="text-button">
                          <a href="contact-us.html">Report Something</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/forum.png" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Forum</h4>
                        <p>
                          A forum can help by providing a safe space for
                          community members to engage in open and honest
                          discussions about FGM/C, share personal experiences
                          and knowledge, and collaborate on strategies to
                          prevent and respond to incidents of the practice. A
                          forum can also help to build solidarity and promote
                          community-driven solutions that prioritize the health
                          and well-being of girls and women.
                        </p>

                        <span class="last-span">3000 members</span>
                        <div class="text-button">
                          <a href="contact-us.html">Join The Forum!</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/counselor.jpg" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Counseling</h4>
                        <p>
                          We help in counseling by providing access to trained
                          professionals who can offer psychological and
                          emotional support to survivors and their families, and
                          by promoting community-based approaches that
                          prioritize the health and well-being of girls and
                          women affected by FGM/C.
                        </p>
                        <span class="last-span">120 Counselors</span>
                        <div class="text-button">
                          <a href="contact-us.html">Book a counselor</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="left-image">
                        <img src="assets/images/landing/tracking.jpg" alt="" />
                      </div>
                      <div class="right-content">
                        <h4>Tracking</h4>
                        <p>
                          Tracking cases of FGM/C through our web application is
                          crucial for several reasons. It allows us to monitor
                          the prevalence of the practice in different regions
                          and communities, which can inform targeted awareness
                          campaigns and prevention efforts. It also provides
                          survivors with a safe and confidential platform to
                          report their experiences and seek support from trained
                          counselors.
                        </p>

                        <span class="last-span">150 Active cases</span>
                        <div class="text-button">
                          <a href="contact-us.html">Track your report</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simple-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <div class="left-image">
          <img src="assets/images/landing/fgm-kenya.jfif" alt="" />
        </div>
      </div>
      <div class="col-lg-5 align-self-center">
        <h6>Call To Action</h6>
        <h4>Join the Movement Today!</h4>
        <p>
          We must take action to end the harmful practice of FGM/C. This
          includes educating ourselves and others about the physical and
          psychological harms of the practice, promoting alternative cultural
          practices that value the rights and autonomy of girls and women, and
          reporting incidents to empower survivors and prevent future
          occurrences. 
        </p>
        <div class="white-button">
          <a href="index.html">Call to Action</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>Testimonials</h6>
          <h4>What They <em>Think</em></h4>
        </div>
      </div>
      <div class="col-lg-12">
        <div
          class="owl-testimonials owl-carousel"
          style="position: relative; z-index: 5"
        >
          <div class="item">
            <p>
              “just think about TemplateMo if you need free CSS templates for
              your website”
            </p>
            <h4>Catherine Walk</h4>
            <span>CEO &amp; Founder</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “think about our website first when you need free HTML templates
              for your website”
            </p>
            <h4>David Martin</h4>
            <span>CTO of Tech Company</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “just think about our website wherever you need free templates for
              your website”
            </p>
            <h4>Sophia Whity</h4>
            <span>CEO and Co-Founder</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Helen Shiny</h4>
            <span>Tech Officer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>George Soft</h4>
            <span>Gadget Reviewer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Andrew Hall</h4>
            <span>Marketing Manager</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Maxi Power</h4>
            <span>Fashion Designer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
          <div class="item">
            <p>
              “Praesent accumsan condimentum arcu, id porttitor est semper nec.
              Nunc diam lorem.”
            </p>
            <h4>Olivia Too</h4>
            <span>Creative Designer</span>
            <img src="assets/images/quote.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="report" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="map">
          <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.0194185235555!2d88.47358131541841!3d22.57837703844761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02753269586b03%3A0xfbb4d0c346a81109!2sTechno%20International%20New%20Town!5e0!3m2!1sen!2sin!4v1679941474672!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <div class="row">
            <div class="col-lg-4 offset-lg-1">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Phone</h4>
                <span>010-020-0340</span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Mobile</h4>
                <span>090-080-0760</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>Contact us</h6>
                <h4>Say <em>Hello</em></h4>
                <p>
                  If you need to contact us for help, feel free to fill this form!
                </p>
              </div>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input
                  type="name"
                  name="name"
                  id="name"
                  placeholder="Full Name"
                  autocomplete="on"
                  required
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input
                  type="text"
                  name="email"
                  id="email"
                  pattern="[^ @]*@[^ @]*"
                  placeholder="Your Email"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea
                  name="message"
                  id="message"
                  placeholder="Your Message"
                ></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button
                  type="submit"
                  id="form-submit"
                  class="main-gradient-button"
                >
                  Send Message
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
